<div class="p-3">
  <h2>New contact</h2>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
    <p *ngFor="let msg of errorMessages">{{msg}}</p>
  </div>
  <div class="card p-3">
    <div class="mb-3">
      <label for="firstname" class="form-label">Firstname</label>
      <input [(ngModel)]="contact.firstname" type="text" class="form-control" id="firstname" placeholder="Firstname">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Lastname</label>
      <input [(ngModel)]="contact.lastname" type="text" class="form-control" id="lastname" placeholder="Lastname">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input [(ngModel)]="contact.email" type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="iban" class="form-label">IBAN</label>
      <input [(ngModel)]="contact.iban" type="text" class="form-control" id="iban" placeholder="AB12 1234 1234 1234 00">
    </div>
    <div class="d-flex justify-content-end">
      <button (click)="cancel()" type="button" class="btn btn-link">
        <em class="fas fa-times"></em>&nbsp;Cancel
      </button>
      <button (click)="save()" type="button" class="btn btn-danger">
        <em class="fas fa-save"></em>&nbsp;Save
      </button>
    </div>

  </div>
</div>
